<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting value="true" name="cacheEnabled"/>
		<setting value="false" name="lazyLoadingEnabled"/>
		<setting value="true" name="multipleResultSetsEnabled"/>
		<setting value="true" name="useColumnLabel"/>
		<setting value="false" name="useGeneratedKeys"/>
		<setting value="SIMPLE" name="defaultExecutorType"/>
		<setting value="25000" name="defaultStatementTimeout"/>		
		
		<setting value="false" name="mapUnderscoreToCamelCase"/>
		
		<!-- <setting value="VARCHAR" name="jdbcTypeForNull"/> 널처리-->
	</settings>
	
	<typeAliases>
		<typeAlias type="com.aside.form.BoardForm" alias="BoardForm"/>
		<typeAlias type="com.aside.model.SampleModel" alias="SampleModel"/>
		<typeAlias type="com.aside.model.BoardModel" alias="BoardModel"/>
	</typeAliases>

	<mappers>
		<mapper resource="com/mybatis/sql/sample.xml"/>
		<mapper resource="com/mybatis/sql/board.xml"/>
	</mappers>	

</configuration>

